@using EmprestimosBase.Dto
@model UsuarioLoginDto

@{
    Layout = "_LayoutDeslogada";
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container">
    <form asp-action="Login" asp-controller="Login" method="post" >
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" asp-for="Email">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" asp-for="Senha">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-25 mx-2">Entrar</button>
            <a asp-action="Registrar" asp-controller="Login" class="btn w-25">Cadastrar-se</a>
        </div>

       
    </form>
</div>
