@model EmprestimosModel
@{
	ViewData["title"] = "Cadastrar Empréstimo";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}


<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light" >Cadastro de Empréstimos</h1>
    </div>
	<form method="post" asp-controller="Emprestimo" asp-action="Cadastrar" >
          <div class="mb-3">
            <label for="Recebedor" class="text-light form-label">Recebedor:</label>
            <input type="text"  asp-for="Recebedor" class="shadow-none form-control" id="exampleInputRecebedor" placeholder="Quem está recebendo o livro?" >
            <span class="text-danger" asp-validation-for="Recebedor" ></span>
          </div>
          <div class="mb-3">
            <label for="Fornecedor" class="text-light form-label">Fornecedor:</label>
            <input asp-for="Fornecedor" type="text" class="form-control shadow-none" id="exampleInputFornecedor" placeholder="Quem está emprestando o livro?" >
            <span class="text-danger" asp-validation-for="Fornecedor" ></span> 
        </div>
          <div class="mb-3">
            <label class="text-light form-label" for="LivroEmprestado">Livro:</label>
            <input type="text" asp-for="LivroEmprestado" class="form-control shadow-none" id="exampleInputLivroEmprestado" placeholder="Qual livro está sendo emprestado?" >
            <span class="text-danger" asp-validation-for="LivroEmprestado" ></span>
        </div>
          <div class="d-flex gap-5 mt-5">
              <button type="submit" class="btn btn-success w-50">Adicionar</button>
              <a class="btn btn-primary w-50" asp-controller="Emprestimo" asp-action="Index" >Voltar</a>
          </div>  
      </form>


</div>