@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/read_book_study_icon-icons.com_51077.png" />
    </div>
</div>
